/* - Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%) */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url("images/bg-desktop.svg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0 2rem;
}
header {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  width: 180px;
  margin-left: 1.3rem;
}
section {
  width: 100%;
  min-height: 80vh;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80vh;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-text h1 {
  font-weight: 900;
  font-size: 3rem;
}
.banner-text p {
  line-height: 1.7;
  margin: 1rem 0 0.4rem;
}
.btn {
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 1rem 0;
  color: hsl(257, 40%, 49%);
  box-shadow: -4px 8px 25px -5px #000;
  transition: all 0.5s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}
.col {
  height: 100%;
  padding: 1rem;
}
footer {
  position: relative;
  width: 100%;
  height: 55px;
}
.attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #dddddd;
}
.social-icons {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 55px;
  position: absolute;
  right: 0;
}
.social-icons ul {
  display: flex;
}
.social-icons ul li {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  transition: all 0.4s ease;
}
.social-icons ul li:hover {
  cursor: pointer;
  color: hsl(300, 69%, 71%);
}
@media (max-width: 1024px) {
  .logo {
    width: 170px;
    margin: 1rem;
  }
  main {
    padding: 0 4rem;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 650px 380px;
  }
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 470px 380px;
  }
}

@media (max-width: 425px) {
  main {
    padding: 0;
  }
  .logo {
    width: 130px;
    margin: 1rem;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 370px;
  }
  .banner-text {
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  .banner-text h1 {
    font-size: 1.4rem;
  }
  .social-icons {
    left: 50%;
    top: 10px;
    transform: translate(-50%);
  }
  footer {
    height: 100px;
  }
}
